body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER AND FOOTER */

.header, .footer {
    background-color: #1F2937;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 36px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a, .text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0px;
    margin: 0px;
}

/* HERO */

/* Container from header to white part */
.hero {
    background-color: #1F2937;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 96px auto;
}

/* Title and subtitle text*/
.hero-text {
    margin-right: 36px;
}
    .hero img {
        object-fit: cover;
        flex-shrink: 0;
    }

    .title {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: 900;
    }

    /* Not in the hero-text div but directly below */
    .hero-button {
        background-color: #3882F6;
        border: 2px solid #3882F6;
        border-radius: 8px;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #E5E7EB;
        font-weight: 700;
        width: 120px;
        margin-top: 16px;
    }

/* MIDDLE WHITE PART */
.middle {
    background-color: white;
    color:#1F2937;
}

.middle-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

    .title-2 {
        font-size: 36px;
        font-weight: 900;
        margin: 48px;
    }

    /* Its own flex container in order to arrange image and text */
    .image-tiles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-bottom: 64px;
        gap: 64px;
    }

    .image img {
        border: 3px solid #3882F6;
        border-radius: 8px;
        object-fit: cover;
        flex-shrink: 0;
    }

/* GREY QUOTE PART */
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 64px auto;
}

    .quote-text {
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 16px;
    }

    .quote-author {
        font-size: 24px;
        font-weight: 500;
        align-self: flex-end;
    }

/* BLUE CALL TO ACTION BUBBLE*/
.call-to-action {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 80%;
    margin: 48px auto;
    border-radius: 8px;
    color: #E5E7EB;
}

.cta-inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 48px auto;
}

    .cta-title {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 0px;
    }

    .cta-subtitle {
        font-size: 18px;
    }

    .cta-button {
        background-color: #3882F6;
        border: 3px solid #E5E7EB;
        border-radius: 8px;
        padding: 0px 36px;
        text-decoration: none;
        font-size: 18px;
        color: #E5E7EB;
        font-weight: 700;
        font-family: Roboto, sans-serif;
    }